/* General Page Styling */
.conversion-page {
    font-family: 'Arial', sans-serif;
    background-color: #141619;
    color: #B3B4BD;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(135deg, #050A44, #0A21C0);
    color: #B3B4BD;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header .logo {
    color: #c4c5cb;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .header .logo:hover {
    color: #ffcc00;
    transform: scale(1.1);
    transition: transform 0.2s ease, color 0.3s ease;
  }
  
  .header .home-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: #B3B4BD;
    color: #242424;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .header .home-link:hover {
    background-color: #c0a50a;
    transform: scale(1.1);
  }
  
  /* Main Section Styling */
  .conversion-main {
    max-width: 800px;
    margin: 80px auto 20px; 
    background: #333543;
    color: #B3B4BD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    
  }
  
  /* Heading */
  .conversion-main h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #6e99ff;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="number"],
  input[type="file"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    background-color: #141619;
    color: #B3B4BD;
    border: 1px solid #0A21C0;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Floor Group Styling */
  .floor-group {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #0A21C0;
    border-radius: 8px;
    background-color: #b3b4bd70;
  }
  
  .floor-group h3 {
    margin-bottom: 10px;
    color: #c0a50a;
  }
  
  /* Dimension Group Styling */
  .dimension-group {
   
    display: flex;
    gap: 25px;
  }
  
  .dimension-group .form-group {
    color: #c0a50aec;
    flex: 1;
  }
  
  /* Convert Button */
  .convert-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #122390;
    color: #dbdce1;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .convert-btn:hover {
    background-color: #c0a50aec;
  }
  
  /* Responsive Design */
@media (max-width: 768px) {
  .dimension-group {
      flex-direction: column;
  }

  .dimension-group .form-group {
      margin-bottom: 10px;
  }

  .convert-btn {
      font-size: 1rem;
      padding: 12px;
  }
}